{% extends "layouts/Layout.html.twig" %}

{% block title %}MVC - Erro {{ errorCode }}{% endblock %}
{% block description %}Erro {{ errorCode }}{% endblock %}
<!-- Warning: At this time, you can't use the route method from the router
package when using dynamic routes, so we recommend that you hard code the link instead -->
{% block canonical %}{{ site() }}/ooops/{{ errorCode }}{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1>Erro {{ errorCode }}</h1>
        <p>{{ errorDesc }}</p>
    </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <a href="https://pt.wikipedia.org/wiki/Lista_de_c%C3%B3digos_de_estado_HTTP" target="_blank">
        Saíba mais sobre este erro
    </a>
{% endblock %}