{% extends 'Layout.html.twig' %}

{% block title %}MVC - Post {{ post.id }}{% endblock %}
{% block description %}Post de número {{ post.id }}{% endblock %}
{% block keywords %}blog, post, mvc{% endblock %}

{% block content %}
    <center>
        <h1>{{ post.title }}</h1>
        <h2>{{ post.id }} - {{ post.slug }}</h2>
        <p>{{ post.content }}</p>
    </center>
{% endblock %}